/* default styles from files */
body {
    Margin: 0;
    padding: 0;
    background-color: #f6f9fc;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

/* added styles from tutorial */
.wrapper {
    width: 100%;
    table-layout: fixed;
    background: #f6f9fc;
    padding-bottom: 40px;
}

.webkit {
    max-width: 600px;
    background-color: #ffffff;
    Margin: auto;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;
}

.outer tr td table {
    width: 100%;
}

/* style for the first row where the logo is placed */
.logo-row td {
    Margin: auto;
    background-color: #388cda;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 180px;
}

/* style for the second row where the banner is placed */
.banner {
    width: 600px;
    max-width: 100%;
}

/* style for the third row where the 3 columns are placed */
.three-columns {
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding-top: 40px;
    padding-bottom: 30px;
}

.three-columns .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.padding {
    padding: 15px;
}

.three-columns .content {
    font-size: 15px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #388cda;
    font-size: 16px;
}

/* CONTENT DATA */
.content-data {
    padding: 10px;
}

.content-img {
    width: 150px;
    max-width: 150px;
}

.content-title {
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 400px) {}